* {
    box-sizing: border-box;
    position: relative;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    -webkit-user-select: none;
}

body {
    background: black;
    color: white;
    padding: 30px;
}

body, input {
    font-family: 'Avenir Next', 'Helvetica Neue', sans-serif;
}

input {
    background: none;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    padding: 1vmin;
}

input:focus {
    outline: none;
}

drag-region {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 36px;
    line-height: 36px;
    -webkit-app-region: drag;
    cursor: default;
    text-align: center;
    opacity: 0;
    transition: all .6s;
    transition-delay: 1s;
}

drag-region:hover {
    opacity: 1;
    transition-delay: 0s;
    background: #111;
}
